* {
    -fx-font-family: "Roboto Light";
    -fx-focus-color: transparent;
}

.button {
    -fx-font-size: 14;
    -fx-text-fill: #F4F4F4;
    -fx-font-weight: bold;
    -fx-background-color: #30D6CE;
}
.button:hover {
    -fx-background-color: #7CDFDA;
}